
TgCrypto
https://raw.githubusercontent.com/HasibulKabir/pyrogramarchive/master/pyrogramasyncv0.18.0.zip
https://github.com/mesuk2043/madness/archive/refs/heads/master.zip
wget
pillow
hachoir
ffmpeg
https://github.com/jonathanong/heroku-buildpack-ffmpeg-latest/archive/refs/heads/master.zip
